footer {

  width: 100%;
  text-align: center;
  background-color: black;
  padding: .5em 0;
  border-top: solid 1px lighten(black, 10);
  margin-top: 2em;

  p,
  a {
    color: grey;
  }

  p {
    font-size: .9em;
    margin: 0;
  }

}