header {

  width: 100%;
  color: white;
  background-color: black;

  .container {
    display: flex;
    justify-content: space-between;
    height: 4em;
    line-height: 4em;
  }

  h1 {
    color: white;
    font-size: 1em;
    margin: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {

    display: flex;
    align-items: center;
    color: grey;
    text-decoration: none;
    padding: 0 .5em;

    svg {
      margin-right: .4em;
    }

  }

}