.stage {
  display: flex;
}

.stage-panel {

  background-color: $color-ultraviolet;
  padding: 1em;
  margin-left: 1em;

  .button {
    width: 100%;
  }

  .dropzone {

    color: lighten($color-ultraviolet, 70);
    padding: 1em;
    background-color: lighten($color-ultraviolet, 30);
    cursor: pointer;

    p {
      font-size: .9em;
    }

  }

  // input,
  // .button {
  //   width: 100%;
  // }

}