.stage {
  display: flex;
  width: calc(600px + 20em);
  background-color: lighten(black, 10);
  padding: 1em;
  margin: 0 auto;
}

.stage-panel {

  width: 20em;
  background-color: $color-ultraviolet;
  padding: 1em;
  margin-left: 1em;

  .button {
    width: 100%;
  }

  .dropzone {

    color: lighten($color-ultraviolet, 70);
    padding: 1em;
    background-color: lighten($color-ultraviolet, 30);
    border: dashed 2px $color-ultraviolet;
    cursor: pointer;

    p {
      font-size: .9em;
    }

  }

  .form-row-range {

    label {
      margin: 0 -.5em 1.4em;
    }

    padding: 0 .5em;

  }

  .input-range {
    margin-bottom: 2.6em;
  }

}