@import "settings/__settings";
@import "components/__components";
@import "pages/__pages";

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #333333;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 2em 0;
}